.keyboard {
  &.--withTargets {
    .white.target {
      .pianoKey {
        fill: var(--pk-color-neutral-lighter, var(--color-base-200));
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: var(--pk-color-neutral-dark, var(--color-base-content));
      }
    }

    .black.target {
      .pianoKey {
        fill: var(--pk-color-neutral-normal, var(--color-base-300));
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: var(--pk-color-white, var(--color-base-100));
      }
    }

    .note {
      &.exactTarget {
        .pianoKey {
          fill: var(--pk-color-primary-normal, var(--color-primary));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }

      &.exactWrapTarget {
        .pianoKey {
          fill: var(--pk-color-primary-dark, var(--color-primary));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }

      &.wrapPlayed {
        .pianoKey {
          fill: var(--pk-color-danger-dark, var(--color-error));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }

      &.played {
        .pianoKey {
          fill: var(--pk-color-danger-normal, var(--color-error));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }

      &.wrapTarget.wrapPlayed,
      &.target.wrapPlayed {
        .pianoKey {
          fill: var(--pk-color-success-dark, var(--color-success));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }

      &.exactTarget.played,
      &.target.played {
        .pianoKey {
          fill: var(--pk-color-success-normal, var(--color-success));
        }

        .pianoKeyName,
        .pianoInfo,
        .pianoTonic {
          fill: var(--pk-color-white, var(--color-base-100));
        }
      }
    }
  }
}

.board {
  .note {
    &.tonic.played .pianoTonic,
    &.info.played .pianoInfo {
      opacity: 1;
    }

    &.wrapSustained,
    &.sustained {
      .pianoKey {
        fill: var(--pk-sustained_background, var(--color-neutral));
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: var(--pk-sustained_color, var(--color-base-100));
      }
    }

    &.wrapPlayed {
      .pianoKey {
        fill: var(--pk-wrapPlayed_background, var(--color-error));
        transition: fill ease 0s;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: var(--pk-wrapPlayed_color, var(--color-base-100));
      }
    }

    &.played {
      .pianoKey {
        fill: var(--pk-played_background, var(--color-error));
        transition: fill ease 0s;
      }

      .pianoKeyName,
      .pianoInfo,
      .pianoTonic {
        fill: var(--pk-played_color, var(--color-base-100));
      }
    }
  }
}

.note.white {
  .pianoKeyBackground {
    fill: var(--pk-classic-pianoKeyBackground-fill);
  }

  .pianoKey {
    fill: var(--pk-white_background, var(--color-base-100));
    stroke: var(--pk-classic-pianoKey-stroke);
    stroke-opacity: var(--pk-classic-pianoKey-stroke-opacity);
    transition: var(--pk-classic-pianoKeyBevel-transition);
  }

  .pianoKeyName {
    fill: var(--pk-white_color, var(--color-base-content));
    opacity: var(--pk-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--pk-white_color, var(--color-base-content));
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--pk-white_color, var(--color-base-content));
    opacity: var(--pk-text_opacity, 0.5);
  }
}

.note.black {
  .pianoKeyBackground {
    fill: var(--pk-classic-black-pianoKeyBackground-fill);
  }

  .pianoKey {
    fill: var(--pk-black_background, var(--color-base-content));
    stroke: var(--pk-classic-pianoKey-stroke);
    stroke-opacity: var(--pk-classic-black-pianoKey-stroke-opacity);
    transition: var(--pk-classic-pianoKeyBevel-transition);
  }

  .pianoKeyName {
    fill: var(--pk-black_color, var(--color-base-100));
    opacity: var(--pk-text_opacity, 0.5);
  }

  .pianoTonic {
    fill: var(--pk-black_color, var(--color-base-100));
    opacity: 0;
  }

  .pianoInfo {
    fill: var(--pk-black_color, var(--color-base-100));
    opacity: var(--pk-text_opacity, 0.5);
  }
}
